<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Vesper+Libre&display=swap" rel="stylesheet">
    <title>Studio Ghibli</title>
</head>
<body id="index">
    <h1>Welcome to my app!</h1>
    <p>
        This app lists all of the Studio Ghibli movies!
        Here you can select you favorite Ghibli movies and add them to your profile.
        You can also pick out your favorite charters too!
    </p>
</body>
</html>