#nav {
    display: flex;
    justify-content: space-between;
    font-size: 40px;
    margin-left: 10px;
    margin-right: 10px;
    
}

a {
    color: red;
}

p {
    font-family: 'Vesper Libre', serif;
    font-size: 30px;
    color: red;
}

h2 {
    color:red;
    font-family: 'Vesper Libre', serif;
}
h3 {
    color:red;
    font-family: 'Vesper Libre', serif;
}
h1 {
    display: flex;
    justify-content: center;
    color:red;
    font-family: 'Vesper Libre', serif;
    font-size: 70px;
    
}

#index {
    background-image: url(/img/laputa.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#profile {
    background-image: url(/img/porco.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#films {
    background-image: url(/img/princess.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#people {
    background-image: url(/img/favorites.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#locations {
    background-image: url(/img/castle.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#vehicles {
    background-image: url(/img/river.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.auth {
    background-image: url(/img/fireflies.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.list {
    color:red;
    font-family: 'Vesper Libre', serif;
}