<div class="container">
    <h2>My Favorite People</h2>
    <ul>
        <% person.forEach(function(people) { %>
            <li><a href="/people/<%= people.id %>"><%= people.name %></a></li>
        <% }) %>
    </ul>
</div> 