<div class="container">
    <h2>My Favorite Films</h2>
    <ul>
        <% films.forEach(function(film) { %>
            <li><a href="/films/<%= film.id %>"><%= film.title %></a></li>
        <% }) %>
    </ul>
</div> 